@charset "UTF-8";
/* CSS Document */

body{
	background-color: #FFFFFF;
	vertical-align: middle;
	width: auto;
	height: auto;
	border: thick groove #09F;
	padding: 5px;
}
h1{
	color: #009;
	margin-top: 0px;
	text-align: center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height: 30px;
}
h2{
	color: #009;
	text-align: center;
	margin: 0px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
fieldset{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
legend{
	text-align: center;
}
#navItems {
	margin: 2px;
}
.browseItem {
	margin-right: 5px;
	margin-left: 5px;
}
#nav {
	background-color: #CCC;
	border: medium solid #09F;
	margin-bottom: 2px;
	margin-top: 2px;
	padding-right: 15px;
	padding-left: 15px;
}
#mainContent {
	padding: 5px;
	width: auto;
	background-color: #D6D5D6;
	border: medium solid #09F;
	text-align: center;
}
#mainForm {
	padding: 5px;
	width: auto;
	background-color: #D6D5D6;
	border: medium solid #09F;
}
input{
	float: right;
	clear: both;
}
#title {
}
select{
	float: right;
	clear: both;
}
label{			
}
ul{
	margin-top: 0px;
	border: thin solid #000;
	padding-bottom: 2px;
	background-color: #EEE;
	list-style-type: decimal;
}
.import{
	list-style-type: square;
}
#edit{
	padding-right: 5px;
	margin-left: -30px;
}
.subItem{
	margin-left: -35px;
	margin-top: 5px;
}
#search {
	float: right;
}
.listItem{
	margin: 5px;
	border: solid thin #09F;
	list-style-type: none;
}
